h1{
    color: red;
    text-transform:uppercase;
    text-align: center;
}
p-1{
    text-align: center;
}
i{
    text-decoration: underline;
}
h2{
    text-align: center;
    color: green;
}
p-2{
    text-align: center;
}
a-1{
    text-align: center;
}
a-2{
    text-align: center;
}




