body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: poppins, sans-serif;
    
    

} 
span{
    color: #5e3bee;
    font-weight: 600;
}  
/* nav menu */
.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 10px 0;
    padding-top: 20px;
    
    
}
.container img {
    width: 200px;
    margin-left: 20px;
}
.btn-contact{
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 5px;
    border-color: #5e3bee;
    background-color: #ffffff;
    
}
.btn-contact a{
    text-decoration: none;
    color: #5e3bee;}
.menu{
    list-style: none;
    display: flex;
    gap: 30px;
    

}
.menu a{
    text-decoration: none;
    color: black;
        
 }
 header{
    background-color: #ffffff;
    height: 80px;
 }
/* hero */
 .hero{
  display: flex;
  background-color: #F5FCFF;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px ;
  padding-top: 30px;
}

.hero-text{
    margin-top: px;
    text-align: left;
    max-width: 70% ;
    font-size: 25px;
    
}

.hero-text h1{
  font-size: 3.3rem;
  line-height: 1.2;
  font-weight: 500px;
  margin: 16px 0;
  font-weight: bolder;
 }
.hero-text p{
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 24px;
  max-width: 500px;
}
.btn-portfolio{
    padding: 12px 20px;
    background-color: #5e3bee;
    
    border: none;
    border-radius: 5px;
    font-size: 16px;
    
    
}
.btn-portfolio a{
  text-decoration: none;
  color: white;

}

.hero-image{
  
  flex: 1;
  display: flex;
  justify-content: center;
   
}


.hero-image img{
  
  width: 700px;
  
  
}
/* skills */
.bd{
    margin-top: 200px;
}
.skils {
   max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 10px 0;
   

    
}

.card{
    
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    background-color: #F5FCFF;
    
}
.card img{
    width: 80px;
    margin-bottom: 10px;
}
.card h4{
    margin: 10px 0;
    font-size: 1.5rem;
}
.section-title{
    text-align: left;
    margin-left:70px;
    margin-right: 100px;
    
    
}

.section-title h1{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 500px;
    margin: 16px 0;
    font-weight: bolder;
   }
/* about me */
.About-me{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 80px ;
    margin-top: 100px;

}
.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
     
}
.about-image img{
     
    width: 600px;
     
}
.about-text{
    
    text-align: left;
    max-width: 70% ;
    
    
}
.about-text h1{
    font-size: 3.3rem;
    line-height: 1.2;
    font-weight: 500px;
   
    font-weight: bolder;
   }
.about-text p{
    font-size: 1.1rem;
    color: #2c2c2c;
    margin-bottom: 24px;
    max-width: 500px;

}
.projects-card{
    background-color: #ffffff;
    
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
    background-color: #ffffff;
 
}
.portofolio{
    display: flex;
    justify-content: space-between;
}
.Projects-btn button{
   display: flex;
    background-color: #E62872;
    margin-right: 100px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 50px;
    padding:15px;

}
.Projects-btn img{
    width: 20px;
    margin-right: 7px;
}


.projects-all{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.projects-card img{
    width: 400px;
    margin-bottom: 10px;
}
.projects-card button{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    border: white;
    font-size: 15px;
    font-weight: bold;
    
}
.projects-text{
    margin: 20px;
}
.projects-text h4{
    margin: 10px 0;
    font-size: 1.5rem;
}


.projects-card button img{
   width: 15px;
    margin-left: 10px; 
   
    
}
/* contact me */

.per-group-1{
    display: flex;
    justify-content: center;
}
.per-group-2{
    display: flex;
    justify-content: center;
}

.form-group{
    display: grid;
    text-align: left;
    margin: 20px;   
}

.form-group input{
    width: 400px;
    padding: 18px;
    margin-top: 5px;
    border: 1px solid #5e3bee;
    border-radius: 5px;
    
}
.contact-form{
    margin:90px;
}
.option-group{
    display: grid;
    justify-content: center;
    margin: 20px; 
    text-align: left;  
}
.option-group select{
    width: 920px;
    padding: 18px;
    margin-top: 5px;
    border: 1px solid #5e3bee;
    border-radius: 5px;
}
.message-group{
    display: grid;
    justify-content: center;
    margin: 20px; 
    text-align: left;  

}
.message-group textarea{
    width: 880px;
    padding: 18px;
    margin-top: 5px;
    border: 1px solid #5e3bee;
    border-radius: 5px;
}
footer{
    background-color: white;
    height: 80px;
    align-items: center;
    
}
.icon img{
    width: 30px;
    margin: 10px;
   
}

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
}
.footer a{
    text-decoration: none;
    color: black;
   
}
hr{
    margin-top: 150px;
    width: 1450px;
}
.footer n{
    gap: 15px;
}


